<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titlename %}{% endblock %}</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/resources/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/resources/flat-ui-2.2.2-dist/css/flat-ui.min.css"/>
    <script src="/static/resources/flat-ui-2.2.2-dist/js/vendor/jquery.min.js"></script>
    <script src="/static/resources/bootstrap3/js/bootstrap.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/resources/bootstrap3/3.3.7/js/bootstrap.min.js" ></script>
    <script src="/static/resources/vue/vue.js"></script>
    <script src="/static/resources/layer/layer.js"></script>
    <script src="/static/js/base/base.js" ></script>
    <script src="/static/js/base/log.js" ></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <style>
    .container{
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
      }
    .div_line{
        width:auto;
        display:inline-block;
        line-height: 80px;
    }
    .base_daohang .div_line button{
        border:0!important;

    }
    .base_daohang .div_line a{
        letter-spacing:1.12px!important;
    }

    a{
       color:#555;
       width: auto;
      }
      a:hover, a:focus {
        color: #009E74;
        text-decoration: none;
      }

    </style>
    {% block head %}{% endblock %}

</head>
<body class="base_daohang">
    <div id="index_search" style="border-bottom: 1px solid;">
        <!--导航条点击搜索后-->
        <div id="mySearch" style="z-index:100;position: absolute;width:100%;visibility:hidden;">
            <!--输入框-->
            <div class="container-fluid" style="padding:0;margin-bottom:0;min-height: 80px;background-color:#FFFFFF;border-bottom: 1px solid #282828;position: relative;
    top: 2px;">
            <div class="row" style="margin: 0 5%;padding: 0px">
                <div class="col-md-11"style="padding:25px 0px 0px 0px;margin:0">
                    <input id="search" type="text" v-model="keyWord" @keyup.enter='search' placeholder="发现专家..." style="outline:medium;width:100%;font-size: 1.45rem;border:none;"/>
                </div>

                <div class="col-md-1" style="width: 6.333%">
                    <button type="button" class="btn btn-default navbar-btn mybtn"  @click="closeSearchDiv()"  style="border-color:#fff;padding:30px 40px 0px 0px;margin:0;font-size: 1.45rem;color:#282828;background-color:#fff;"><i class="glyphicon glyphicon-remove" style="padding-left:10px;"></i></button>
                </div>

            </div>
            </div>
            <!--搜索结果-->
            <div id="mySearchResult"class="container-fluid" style="padding: 0px;background-color: #ffffff;visibility:hidden;">
                <div class="row" style="margin:0;padding:0;">

                    <ul class="my-ul">
                        <li class="my-li" v-for="item in results">
                            <a :href="'/main/expert/'+item.id" >
                            <div class="container-fluid" style="padding: 0px;">
                                <div class="row" style="margin: 0px ;padding:15px 0;">
                                    <!-- 头像 -->
                                    <div class="col-md-2" style="padding:0 15px 0 0;width:95px;"><img style="width:80px"  class="img-circle" :src="'/main/propic/'+item.id"/></div>
                                    <!-- 姓名+简介 -->
                                    <div class="col-md-8" style="padding: 0;">
                                        <h2 class="my-title2" style="padding: 0">${item.name}</h2>
                                        <p class="my-text2" style="font-size:15px;padding: 0;color:#999"><a :href="'/main/school/'+item.school">${item.school}</a> ${item.title}</p>
                                        <p class="my-text2" style="padding: 0">研究领域：<span style="margin-left:10px" v-for="f in item.fields" >${f}</span></p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </li>

                    </ul>
                    <a @click="search_word" href="#"><div class="my-result-num">查看全部 ${num} 结果</div></a>
                </div>
            </div>
        </div>
        <!--导航条-->
       <div id="myHeader" class="container-fluid" style="margin-bottom:0;min-height: 80px;background-color:#FFFFFF;">
            <div class="row" style="margin: 0;padding: 0px; ">
                <div class=" div_line">
                    <a type="button" class="btn btn-default navbar-btn" style="border-color:#fff;;padding:0 0px 0px 40px;margin:0;font-size: 1.45rem;color:#282828;background-color:#fff;">发 现</a>
                </div>
                <div class=" div_line" style="padding:0px 0px 0px 15px;margin:0;">
                    {% if session['username']  %}
                    <a href="#" style="line-height: 0;font-size: 1.45rem;color:#282828;" @click="openMessage(true)">反馈建议</a>
                    {% else %}
                    <a href="#" style="line-height: 0;font-size: 1.45rem;color:#282828;" @click="openMessage(false)">反馈建议</a>
                    {% endif %}

                </div>
                <div class=" div_line"></div>
                <div class=" div_line" style="text-align:center; ">
                    <a href="/index/index"><img style=" height:30px;    position: absolute;  left: 42%; top: 25px;"  src="../../static/images/expertlogo.png"/></a>
                </div>
                <div class=" div_line">
                </div>

                <div class=" div_line" style="padding:0px 40px 0px 0px;margin:0;float:right">
                    {% if session['username']  %}
                    <a href="/usercenter" style="line-height: 0;font-size: 1.45rem;color:#282828;">{{session['username']}}</a>
                    {% else %}
                    <a href="/login/gologin" style="line-height: 0;font-size: 1.45rem;color:#282828;">登 陆</a>
                    {% endif %}

                </div>
                <div class=" div_line" style="float:right">
                    <a type="button" class="btn btn-default navbar-btn" id="bt_display" @click="openSearchDiv"  style="border-color:#fff;padding:0px 15px 0px 0px;margin:0;font-size: 1.45rem;color:#282828;background-color:#fff;">搜 索<i class="glyphicon glyphicon-search" style="padding-left:10px;"></i></a>
                </div>

            </div>
        </div>
    </div>
    {% block main %}{% endblock %}

    <div style="border-top: 1px solid;height:80px;">
        <p style="margin:30px 0;text-align:center;">copyright@ 2018 东南大学 刻刻团队</p>
    </div>
</body>
</html>
