<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}{{ info_dict["name"] }}_专家详情</title>
    <link rel="stylesheet" href="/static/resources/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/resources/flat-ui-2.2.2-dist/css/flat-ui.min.css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/expertstyle.css') }}" media="screen"/>
    <script src="/static/resources/flat-ui-2.2.2-dist/js/vendor/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='resources/echarts/myecharts.source.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/expertjs.js') }}" type="text/javascript"></script>

    <!--echarts-->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
</head>
<body>
    <!--导航条-->
    <div class="container-fluid">
        <div class="row">
            <!--导航条组件-->
            <nav class="navbar navbar-default" style="min-height: 65px;margin-bottom: 0px;">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>

    <!-- 上半部分 -->
    <div class="container-fluid" style="padding: 0px;background-color: #FBFBFA">
        <div class="row" style="margin: 0px 14%;padding: 0px 60px;">
            <!-- 头像+姓名+简介 -->
            <div class="container-fluid" style="padding: 0px;">
                <div class="row" style="margin: 0px 18px 40px 18px;padding: 60px 0px 0px 0px;">
                    <!-- 头像 -->
                    <div class="col-md-2"><img style="width:170px"  class="img-circle" id="profile-avatar" src="../../static/images/experttest.jpg"/></div>
                    <!-- 姓名+简介 -->
                    <div class="col-md-8" style="padding: 0px 0px 0px 60px;">
                        <h2 class="my-title1" style="padding: 20px 0px">吴恩达<small class="my-text1" style="color:#95959E;padding-left:30px;">东南大学计算机学院 教授</small></h2>
                        <p class="my-text1" style="padding: 25px 0px 0px 0px">研究领域：机器学习 人工智能 深度学习 社会网络 自然语言处理</p>
                    </div>
                </div>
            </div>

            <!-- 河流图 -->
            <div class="container-fluid" style="padding: 0 10% 0 0;">
                <div class="row" style="margin: 0px 18px 40px 18px;">
                        <div id="direction" style="height: 400px;width:100%"></div>
                    </div>


                </div>
            </div>


        </div>
    </div>

    <!-- 下半部分 -->
    <div class="container-fluid" style="padding: 0px;">
        <div class="row" style="margin: 0px 14%;padding: 0px 60px;">
            <ul class="nav nav-tabs nav-justified">
              <li role="presentation" class="active"><a href="#">详细概述</a></li>
              <li role="presentation"><a href="#">论文</a></li>
              <li role="presentation"><a href="#">研究分析</a></li>
            </ul>


        </div>
    </div>



</body>
</html>