{% extends 'base/base.html' %}

{% block titlename %}首页{% endblock %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>keke</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login/style.css">
    <script src="/static/js/login/login.js" ></script>
<style type="text/css">
    .btn_tab_login{float: right; margin-top: 48px;}
    .btn_tab_login li{display: inline-block; margin-left:30px; font-size: 14px;}
    .btn_tab_login li.cur a{color:#d00;}
    #weixin_login_container iframe{width:158px;height:158px;}
    *{box-sizing: content-box;letter-spacing:0}
	.register{font-size:12px}
</style>
{% endblock %}
{% block main %}


<div class="login-wrap" id="login">
	<div class="wrap clearfix">

		<div id="common" class="form-box loginV2" style="display:block;">
			<ul class="form-tab clearfix">
				<li class="tab-li" :class="isLogin?'':'cur'"><a href="#" @click="isLogin=false">注册账号</a></li>
				<li class="tab-li"  :class="isLogin?'cur':''"><a href="#" @click="isLogin=true">账号登录</a></li>
			</ul>
			<div class="form-con">
				<div class="login-normal" v-if="!isLogin">
					<form id="registerForm" method="post" autocomplete="off" onsubmit="return false">
						<div class="form-error" style="display: none;"><i></i><label class="text"></label></div>
						<dl class="clearfix">
							<dt>账户名：</dt>
							<dd><input type="text" v-model="account" name="account" class="input-text" autocomplete="off" placeholder="用户名/邮箱/手机号"></dd>
						</dl>
						<dl class="clearfix">
							<dt>昵<em></em>称：</dt>
							<dd><input type="text"  v-model="username" name="username" class="input-text" autocomplete="off" placeholder="输入昵称"></dd>
						</dl>
						<dl class="top1 clearfix">
							<dt>密<em></em>码：</dt>
							<dd><input type="password" v-model="password" name="password1" class="input-text" placeholder="请输入密码"></dd>
						</dl>
						<dl class="top1 clearfix">
							<dt>确认密码：</dt>
							<dd><input type="password"   v-model="password2" name="password2" class="input-text" placeholder="确认密码"></dd>
						</dl>
						<div class="btn-box clearfix">
							<input @click="register($event)" class="btn-settlement" type="submit" value="注    册" >

						</div>
					</form>
				</div>
				<div class="login-normal" v-if="isLogin">
					<form id="loginForm" method="post" autocomplete="off" onsubmit="return false" >
						<div class="form-error" style="display: none;"><i></i><label class="text"></label></div>
						<dl class="clearfix">
							<dt>账户名：</dt>
							<dd><input type="text"  v-model="account" name="account"  class="input-text" autocomplete="off" placeholder="用户名/邮箱/手机号"></dd>
						</dl>
						<dl class="top1 clearfix">
							<dt>密<em></em>码：</dt>
							<dd><input type="password"   v-model="password" name="password" autocomplete=current-password" class="input-text" placeholder="请输入密码" ></dd>
						</dl>
						<div class="btn-box clearfix">
							<input @click="login($event)" class="btn-settlement" type="submit" value="登    录" >

						</div>
						<div class="link-box clearfix">
                            <a href="javascript:;" class="register" >新用户注册</a>
                            <a href="javascript:;" class="forget-pass" >忘记密码？</a>
                        </div>
					</form>
					<div class="login-short clearfix">
					   <div class="short-left">
							<h3>使用合作账号登录：</h3>
							<ul class="clearfix">
								<li class="qq"><a a="" href="javascript:;" tjjj="passport.login.thd.login.qq"></a></li>
								<li class="sina"><a href="javascript:;" tjjj="passport.login.thd.login.sina"></a></li>
								<li class="weixin"><a href="javascript:;" tjjj="passport.login.thd.login.weixin"></a></li>
							</ul>
						</div>
					   <div class="short-right">
                            <h3>您还可以选择：</h3>
                            <p class="phone-short clearfix">

                                <a href="#" tjjj="" @click="moible(true)" class="txt phoneLogin"><i class="phone"></i>手机快捷登录</a>
                            </p>
                       </div>
					</div>
				</div>
			</div>
		</div>
			<!-- -快捷登录 -->
			<div class="form-box shortLogin" id="mobile">
				<h5 class="title">手机快捷登录</h5>
           		 <div class="form-con">
					<form id="mobileLoginForm" method="post" onsubmit="return false">
						<div class="form-error" style="display: none;"><i></i><label class="text"></label></div>
						<dl class="clearfix">
							<dt>手机号：</dt>
							<dd><input name="mobile" type="text" id="partnerPhone" autocomplete="off" class="input-text mobile" maxlength="11"><span class="placeholder">请输入手机号</span></dd>
						</dl>
						<dl class="top1 clearfix">
							<dt>验证码：</dt>
							<dd>
								<input name="smsCaptcha" type="text" id="partnerYzm" class="input-yzm"  maxlength="4" autocomplete="off">
								<span class="span-yzm">
									<img id="smsCaptchaImage" src="/code/getCode" title="点击图片刷新校验码" alt="点击图片刷新校验码" @click="changeCode">
									<a href="#" @click="changeCode" class="forget-pass">换一张</a>
								</span>
							</dd>
						</dl>
						<dl class="top2 clearfix">
							<dt>校验码：</dt>
							<dd>
								<input name="code" type="text" id="partnerJym" class="input-jym" maxlength="6" autocomplete="off">
								<a id="smsSendButton" href="#" @click="checkSms" class="span-jym disabled" tjjj="passport.send.msg">${countLable}</a>
							</dd>
						</dl>
						<div class="btn-box clearfix">
							<input id="partnerSubmit" class="btn-settlement" type="submit" value="登    录" @click="phonelogin">

						</div>
						<div class="link-box clearfix">
                   			 <a href="#" @click="moible(false)" class="backLogin">返回账号登录&gt;&gt;</a>
                		</div>
					</form>
					</div>
			</div>

	</div>
</div>

<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="APPID" data-redirecturi="REDIRECTURI" charset="utf-8"></script>
<span id="qqLoginBtn"></span>
<script type="text/javascript">
    QC.Login({
       btnId:"qqLoginBtn"    //插入按钮的节点id
});
</script>

{% endblock %}